.custom-form {
  max-width: 600px !important;
}

.custom-form-1000 {
  max-width: 1000px !important;
}

.custom-form-400 {
  max-width: 400px !important;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.disabled {
  opacity: 0.4;
}